<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>request</title>
</head>
<body>
    {% include 'header.html' %}
    
    <form action="sendRequest" method="POST" style="margin-top: 100px;">
        {% csrf_token %}
     <fieldset style="width: 500px; margin:auto; border:1px solid; border-radius:10px">
        <div style="background: #ffaaa2; opacity:0.8; width:350px;">
            {% for message in messages %}
            
            <h3 style="color: red;"> {% if name %}`{{name}}` {% endif %} {{message}} </h3>
            {% endfor %} 
        </div>
            <p>Request Title:<br> <input type="text" class="report" name="title" value="{{info}}" placeholder="enter title"> </p>
            {% if user.is_authenticated %} <input type="hidden" class="report" value="{{user.username}}" name="sender_name" 
             readonly> </p> {% endif %}
             <p>Reciever Name: <br><select title="select" name="reciever_name">
                {% for recieve in recieve %}
                    <option value="{{recieve.get_username}}">{{recieve.get_username}}</option>  
                {% endfor %}
            </select></p>
            <p> <input type="hidden" class="report" value="{{user.profile.branch}}" name="branch" readonly> </p>
            <p>Detail <br> <textarea placeholder="type detail here..." name="detail">{{info.detail}}</textarea>
               
      
            <div class="form-actions">
                <button class="btn btn-primary js-tooltip" onclick="return confirm('Are you sure?');">SendRequest</button>
            </div>
     </fieldset>
     
     </form>
     
</div>
</body>
</html>