<style>
    .done_password{
        margin: 100px auto auto auto;
        width: 450px;
        border-radius: 15px;
        background: #192a56;
        color:white;
        padding: 10px 20px;
        
    }
</style>

<div class="done_password">

    {% block content %}<h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've <br>
        entered theaddress you registered with.</p>
    {% endblock %}
</div>