 <style>
    .forget_password{
        margin: 100px auto auto auto;
        width: 450px;
        border-radius: 15px;
        background: #192a56;
        color:white;
        padding: 10px 20px;
        padding: 15px;
    }
    .email{
        padding: 5px;
    }
    input{
        width: 80%;
        height: 30px;
    }
    #btn{
         height: 40px;
        color: white;
    background-color: #27ae60;
    width: 100%;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1.3px;
    margin-top: 20px;
    cursor: pointer;

         border: none;
        border-radius: 10px;
    }
    #btn:hover{
        background-color: #08632e;
    }
 </style>
 <div class="forget_password">

<p style="color:rgb(236, 201, 4)">  {% block title %}Reset your password{% endblock %}</p>
{% block content %}<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Send email" id="btn"></p>
    {% csrf_token %}</form>{% endblock %}
 </div>