 <style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;

    }
    .reset_password{
         margin: 50 px auto auto auto;
        width: 450px;
        border-radius: 15px;
        background: #192a56;
        color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
.btn{
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    background-color: #27ae60;
    border-radius: 10px;
    font-size: 18px;
     width: 100%; 
     cursor: pointer;
    }

.btn:hover{
    background-color: #08632e;
}

p{
    margin-top: 30px;
}
label{

}
input{
    width: 80%;
    height: 30px;
    margin-top: 10px;
}

 </style>
 
  <div class=" reset_password">
{% block content %}<h1>Reset your password</h1>
{% if validlink %}<p style="color:rgb(236, 201, 4)">Please enter your new password twice:</p>
<form action="." method="post">{{ form.as_p }}{% csrf_token %}<p>
    <input type="submit" value="Change" class="btn" /></p></form>
 {% else %}<p>The password reset link was invalid, possibly because it hasalready been used. Please request a new password reset.</p>
 {% endif %}{% endblock %}
</div>