<style>
    .set_password{
        margin: auto;
        width: 450px;
        border-radius: 15px;
        background: #192a56;
        color:white;
        padding: 10px 20px;
    }
    p{
        width: 100%;
    }
    a{
        color: white;
        text-decoration: none;
        margin-top: 10px;
        border-radius: 5px;
        background: #27ae60;
        width: 100px;
        height: 50px;
        border: 1px solid white;
        padding: 5px 10px;
    }
</style>
<div class="set_password">

    {% block title %}Password reset{% endblock %}
    {% block content %}<h1>Password set</h1>
    <p>Your password has been set. You can </p>
    <a href="{% url "login" %}">log in now{% endblock %}</a>

</div>