{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static '../static/css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Overall container styling */
 
/* Form styling */
#form {
    display: flex;
    flex-direction: column;
}

/* Headings */
h1 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Input fields styling */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Radio button styling */
input[type="radio"] {
    margin-right: 5px;
    margin-bottom: 40px;

}

 
.position{
    margin-top: 15px;

}

/* Column layout */
.sub-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column {
    flex: 1;
    
}

/* Error message styling */
.error-message {
    color: red;
}

/* Success message styling */
.success-message {
    color: #192a56;
}

    </style>
</head>
<body>

    <section >
      <!-- header -->
      <div class="header">
        {%  include 'header.html' %}

       </div>
      <div class="main-container">

        
          <!-- SIDEBAR -->
          <div id="sidebar">
            
              <div class="menu-item active" onclick="showContent('dashboard')">
                  <i class="fas fa-tachometer-alt" ></i>Dashboard
              </div>
              <div class="menu-item dropdown" onclick="toggleDropdown('manageUsers')">
                  <i class="fas fa-users-cog"></i>Manage Users
                  <div class="dropdown-content" id="manageUsers">
                    <div class="dropdown-item" onclick="showContent('addUser')">
                        <i class="fas fa-user-plus"></i>Add User
                    </div>
                    <div class="dropdown-item" onclick="showContent('updateUser')">
                        <i class="fas fa-user-edit"></i>Update User
                    </div>
                    <div class="dropdown-item" onclick="showContent('viewUser')">
                        <i class="fas fa-user"></i> View User
                    </div>
                    <div class="dropdown-item" onclick="showContent('deleteUser')">
                        <i class="fas fa-user-minus"></i>Delete User
                    </div>
                </div>
                
              </div>
              <div class="menu-item" onclick="showContent('viewCustomer')">
                  <i class="fas fa-users"></i>View Customers
              </div>
              <div class="menu-item" onclick="showContent('viewFeedback')">
                  <i class="fas fa-comments"></i>View Feedback
              </div>
              <div class="menu-item">
                <a href="/logout" class="side-logout"> <i class="fas fa-sign-out-alt"></i>Logout</a> 
              </div>
          </div>
          <!-- SIDEBAR -->

          <!-- CONTENT -->
          <div id="content">
            
              <div id="dynamic-content">
                  <!-- Dynamic content will be loaded here -->
              </div>
                
          </div>
      </div>

  </section>

    <!-- CONTENT -->

    <script>
      function showContent(content) {
          const menuItems = document.querySelectorAll('.menu-item');
          menuItems.forEach(item => item.classList.remove('active'));
          document.getElementById('dynamic-content').innerHTML = getContent(content);
          document.querySelector(`.${content}`).classList.add('active');
      }
  
      function toggleDropdown(id) {
          const dropdown = document.getElementById(id);
          dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
      }
      function addUser() {
    return `
    <div id="add_user"> 
        <form id="form" action="http://127.0.0.1:8000/dashboard" method="post">
          {% if added %}

          {% for message in messages %}
          <h3 style="color:green;" >  {{message}} </h3>
        {% endfor %}
          {% else %}     
              {% for message in messages %}
                  <h3 style="color:red;" >  {{message}} </h3>
              {% endfor %}
          {% endif %}
            {% csrf_token %}
            <h1>Add New User</h1>
            <div class="sub-container"> 
                <div class="column">
                    <input type="hidden" name="is_superuser" value="False" />
                    <label for="fname">First Name:</label><br>
                    <input type="text" id="firstname" name="fname" required><br>
                    <label for="lname">Last Name:</label><br>
                    <input type="text" id="lastname" name="lname" required><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                    <label for="phone">Tele:</label><br>
                    <input type="tel" id="phone" name="tele" required><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br>
                    <label for="confirm_password">Confirm Password:</label><br>
                    <input type="password" id="confirm_password" name="confirm_password" required><br>
                </div>
                <div class="column"> 
                    <label for="username">Username:</label><br>
                    <input type="tel" id="username" name="username" required><br>
                    <label for="branch">Branch:</label><br>
                    <select id="branch" name="branch" required>
                        <option value="Jemo">Jemo</option>
                        <option value="Lebu">Lebu</option>
                    </select>
                    <label for="gender">Gender:</label><br>
                    <div style="display:flex; flex-direction:row; gap:5px;  "> 
                      <span >  Male <input type="radio" name="gender" value="M" required> </span>
                        <span> Female <input type="radio" name="gender" value="F" required></span>
                    </div>
                    <label for="salary">Salary:</label><br>
                    <input type="number"   name="salary" required><br>
                    <label for="position">Position:</label><br>
                    <select id="select" class='position' name="position" style="height:35px" required>
                        <option value='Super Admin'>Super Admin</option>
                        <option value='Druggist'>Druggist</option>
                        <option value='Super Druggist'>Super Druggist</option>
                        <option value='Pharmacist'>Pharmacist</option>
                        <option value='Cashier'>Cashier</option>
                    </select><br>
                    <div>
                   <button class='add-user-btn type='submit name='addUser'> Add User </button>
                    <a href="/dashboard" class="exit">Exit</a>
                </div>
                </div>
            </div>
        </form>
    </div>`;
}


function togglePasswordVisibility(inputId) {
    var x = document.getElementById(inputId);
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

function validateForm() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirm_password").value;

    if (password != confirmPassword) {
        alert("Passwords do not match!");
        return false;
    }
    return true;
}


      function userUpdate() {
    return `
    <div   id="update_user"  > 
             <h1>Update User</h1>
            <table>
              <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Branch</th>
                  <th>Position</th>
                  <th>Salary</th>
                  <th>Gender</th>
                  <th>Tele</th>
                  <th>Action</th>
  
  
              </tr>
              {% for view in users %}
                  {% if view.profile.position != "Customer" %}

                      <tr>
                           {% csrf_token %}
                            <td>{{view.username}}</td>
                            <td>{{view.email}}</td>
                            <td>{{view.profile.branch}}</td>
                            <td>{{view.profile.position}}</td>
                            <td>{{view.profile.salary}}</td>
                            <td>{{view.profile.gender}}</td>
                            <td>{{view.profile.tele}}</td>
                            <td> <a href="{% url 'search_user' view.pk %}">
                                <button onclick="showUserDetails('{{ view.username }}', '{{ view.email }}', '{{ view.profile.branch }}', '{{ view.profile.position }}', '{{ view.profile.salary }}', '{{ view.profile.gender }}', '{{ view.profile.tele }}')" style="border: none; background-color: transparent; text-align:center; color:rgb(7, 155, 20)">Update</button>
                            </a> </td>
                       </tr>
                    {% endif %}
              {% endfor %}
           </table>
                 
      </div>
    `
}


      function viewUser(){
        return `
        <div id="view_user"  > 
         <h1> <span class="no_of_users"> NUMBER OF User/EMPLOYEE:  {{no_of_users}} </span></h1>
         <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Branch</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Tele</th>
                <th style="font-size: small;">Date_Joined</th>

 

            </tr>
            {% for view in users %}
            {% if view.profile.position != "Customer" %}

                <tr>
                  <form method="post" action="dashboard" >
                    {% csrf_token %}
                      <td>{{view.username}}</td>
                      <td>{{view.email}}</td>
                      <td>{{view.profile.branch}}</td>
                      <td>{{view.profile.position}}</td>
                      <td>{{view.profile.salary}}</td>
                      <td>{{view.profile.gender}}</td>
                      <td>{{view.profile.tele}}</td>
                      <td style="font-size: 10px;">{{view.date_joined}}</td>

                      
                  </form>
                </tr>
                {% endif %}
            {% endfor %}
         </table>
      </div>
        `
      }
       
      function deleteUser(){
        return `
        <div id="delete_user"  > 
        <h1>Delete user </h1>
        <table>
           <tr>
               <th>Username</th>
               <th>Email</th>
               <th>Branch</th>
               <th>Position</th>
               <th>Salary</th>
               <th>Gender</th>
               <th>Tele</th>
               <th>Action</th>

           </tr>
           {% for view in users %}
           {% if view.profile.position != "Customer" %}

               <tr>
                 <form method="post" action="dashboard" >
                   {% csrf_token %}
                   <input type="hidden" name="select_user" value="{{view.pk}}"> 
                      <td>{{view.username}}</td>
                     <td>{{view.email}}</td>
                     <td>{{view.profile.branch}}</td>
                     <td>{{view.profile.position}}</td>
                     <td>{{view.profile.salary}}</td>
                     <td>{{view.profile.gender}}</td>
                     <td>{{view.profile.tele}}</td>
                     <td> 
                      <button name="userDelete" style="cursor:pointer; border:none; background-color: transparent; text-align:center; color:rgb(202, 4, 4)"
                      onclick="return confirm('Are you sure do you want to delete {{view.username}}?');">
                       Delete  
                    </button>
                     </td>
                 </form>
               </tr>
               {% endif %}
           {% endfor %}
        </table>
     
        `
    }
      function viewCustomer(){
        return `
        <div id="view_customer"> 
       
       <h1>view customer,  {{no_of_customers}} customers</h1>
       <table>
         <tr>
             <th>Username</th>
             <th>Email</th>
             <th>Tele</th>


         </tr>
         {% for view in users %}
         {% if view.profile.position == "Customer" %}

             <tr>
       
                   <td>{{view.username}}</td>
                   <td>{{view.email}}</td>
                   <td>{{view.profile.tele}}</td>
                   
              </tr>
             {% endif %}
         {% endfor %}
      </table>
   
      </div>
        `
      }
     

      function getContent(content) {
          switch (content) {
              case 'dashboard':
                  return `
                      <h1>Welcome to the Dashboard</h1>
                      <p> This is your dashboard, Navigate to the side panel list .</p>
                  `;
              case 'addUser':
                  return addUser();
              case 'updateUser':
                  return `
                       ${userUpdate()}
                   `;
              case 'viewUser':
                  return  viewUser();
              case 'deleteUser':
                  return deleteUser();
              case 'viewCustomer':
                  return viewCustomer();
              case 'viewFeedback':
                  return `
                  <div class=""  id="view_feedback"> 
                    <h1>view Feedback</h1>
                  
                    <table>
                      <tr>
                          <th>Sender</th>
                          <th>Feedback</th>
                          <th>Date</th>
                  
                  
                      </tr>
                      {% for feedback in feedback %}
                  
                          <tr>
                                <td>{{feedback.sender}}</td>
                                <td>{{feedback.message}}</td>
                                <td>{{feedback.date}}</td>
                                
                           </tr>
                       {% endfor %}
                   </table>
                   </div>
                  `;
              default:
                  return `
                  <h1>Welcome to the Dashboard</h1>
                      <p> This is your dashboard, Navigate to the side panel list .</p>  `;
          }
      }
      
      window.addEventListener('load', function() {
    showContent('dashboard');
  });
  </script>
  
</body>
</html>
