<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
   {% include 'header.html' %}
    <div style="margin-top:100px;">
        {% if drugs %}
            <h3>your search result </h3>
            <div class="sub_container" style="margin-top:100px; display:flex; flex-direction:row; gap:20px">  
            {% for drug in drugs %}
           

                <div>
                    <img src="{{drug.Image.url}}" alt="no image" style="width: 100px; height:100px; border-radius:50%">
                    <p>name:  {{drug.Name}}<br>
                        branch: {{drug.Branch}}</p>
                </div>
            {% endfor %}
    {% else %}    
            {% for message in messages %}                  
            <p>  {{message}} </p>
            {% endfor %}   
    {% endif %}
        </div>
    </div>
</body>
</html>